# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/*.tfvars
infrastructure/terraform/crash.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
